@page
@model MyEshop.Pages.Admin.ManageUsers.IndexModel


@{
    ViewData["Title"] = "پنل کاربران";
}

<h1 class="text-center mt-4">لیست کاربران</h1>

<table class="table info-form">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Users[0].FirstName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Users[0].LastName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Users[0].Password)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Users[0].RegisterDate)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Users[0].IsAdmin)
            </th>
            <th class=" text-center">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.UserId">ویرایش</a> |
                    <a asp-page="./Details" asp-route-id="@item.UserId">جزئیات</a> |
                    <a asp-page="./Delete" asp-route-id="@item.UserId">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p class="text-center mt-4">
    <a class="button-33" asp-page="Create">افزودن کاربر جدید</a>
</p>
