@page
@model MyEshop.Pages.Admin.Groups.DetailsModel

@{
    ViewData["Title"] = "جزئیات گروه";
}

<h1 class="text-center mt-4">جزئیات گروه</h1>
<a asp-page="/Admin/Groups/Index">بازگشت</a>
<hr />


<table class="table info-form">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Category.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Category.Description)
            </td>
        </tr>
    </tbody>
</table>
<div class="text-center mt-4">
    <a class="button-33" asp-page="./Edit" asp-route-id="@Model.Category.Id">ویرایش</a>
</div>
